 h1 {
    color: rgb(221, 203, 154);
    background-color: rgb(138, 56, 192);
    padding: 0.8em;
    font-size: 60px;
    border: 3px solid rgb(70, 7, 78);
}
 body {
    background-color: rgb(186, 130, 223);
 }