$color: rgb(233, 255, 153);
$backColor: rgb(138, 56, 192);
$bordColor: rgb(70, 7, 78);
$shadowColor: rgb(0, 0, 0);
$bodyColor: rgb(186, 130, 223);
$font-stack: Helvetica, sans-serif;
 
 h1 {
    color: $color;
    background-color: $backColor;
    padding: 0.8em;
    border: 3px solid $bordColor;
    text-align: center;
    text-shadow: $shadowColor 0 0 40px;
    font: bold 500% $font-stack;
}
 body {
    background-color: $bodyColor;
 }